.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 20s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}
